*,
*::before,
*::after {
    box-sizing:border-box;
}

:root {
    --font-family: 'Ubuntu', sans-serif;
    --background-color-main: #011627;
    --background-color-alt: #02223B;
    --color-text: white;
    --color-elements1: #00C9E0;
    --color-elements2: #41EAD4;
  }

html {
    font-size: 16px;
}

body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    background-color: var(--background-color-main);
    color: var(--color-text);
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none ;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0; /* Panaikina boostrapo defaultinį paddingą*/
}

.flex-container {
    display: flex;
}


/* ------------------------- HEADER ----------------------------- */

.background {
    background-position: center;
    background-image: linear-gradient(to bottom, rgba(1, 22, 39, 0) 0%, rgba(1, 22, 39, 0) 76%, rgba(1, 22, 39, 0) 76%, var(--background-color-main) 100%),
    url(../images/background/backgroud-hero2.jpg);
    background-repeat: no-repeat;
    background-size: cover; 

}

.background .container {
    max-width: 1400px;
    margin: 0 auto;
}

.site-header .flex-container {
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-width: 60px;
    max-height: 68px;
}

#Menu {
    display: none;
}

.main-nav a,
.mobile-nav a {
    color: var(--color-text);
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    margin: 0 5px;
    padding: 20px 17px;
    white-space: nowrap;
}

.main-nav a:hover,
.main-nav a:active,
.mobile-nav a:hover,
.mobile-nav a:active {
    color: var(--color-elements1);
}

#mMenu {
    position: absolute;
    top: 65px;
    right: 0;
    width: 100%;
}

.mobile-nav,
.mobile-nav ul {
    display: none;
}

.mobile-nav ul {
    background-color: var(--background-color-main);
}

.mobile-nav ul li {
    margin: 0;
    padding: 15px;
    
}

.mobile-nav ul li a {
    margin: 0;
    padding: 15px;
    padding-right: 85%;
}

.mobile-nav a i {
    font-size: 2rem;
}

.site-header .button {
    background-color: var(--color-elements1);
    color: var(--color-text);
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    border-radius: 48px;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 0.1em;
    line-height: 100%;
    margin-left: 15px;
    width: 167px;
    height: 62px;
}

/* ----------------------- HERO ---------------------- */

.hero {
    text-align: center;
}

.hero .container {
    max-width: 1200px;
    margin-top: 156px;
}

.hero .container h1 {
    font-size: 7.5rem;
    font-weight: 700;
    letter-spacing: -0.02em;
    line-height: 100%;
    margin-bottom: 20px;
    margin-top: 0;
}

.hero .container h2 {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.1em;
    line-height: 100%;
    margin-bottom: 50px;
    text-transform: uppercase;
}

.hero .container p {
    font-size: 1.0625rem;
    max-width: 650px;
    line-height: 150%;
    margin: 0 auto;
}

.hero-social {
    margin-top: 200px;
    padding-bottom: 232px;
}

.hero-social .flex-container {
    justify-content: space-between;
}

.scroll-line {
    align-self: center;
}

.scroll {
    transform: translateY(-50%) rotate(270deg);
    cursor: pointer;
    margin-top: 30px;
}

.line {
    margin-left: 28px;
    margin-top: 20px;
    width: 2px;
    height: 80px;
    cursor: pointer;
    border: 1px solid #09F4F4;
}

.hero-social li {
    padding-top: 15px;
    padding-bottom: 15px;
}

.hero-social .social i {
    font-size: 1.5rem;
    color: var(--color-elements2);
}

/* ------------------------------- JOURNEY -------------------------------*/

/* ----------------------------- Journey Menu start ---------------------- */

.journey {
    max-width: 1355px;
    margin: 0 auto;
}

.journey .section-heading .container {
    max-width: 1200px;
    margin: 0 auto;
}

.journey .section-heading h2 {
    text-align: center;
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: -0.02em;
    margin: 0;
}

.journey-menu.flex-container {
    margin-top: 83px;
    display: flex;
    white-space: nowrap;
}

.journey-menu-item {
    flex: 1;
    width: 25%;
}

.journey-menu .journey-menu-item button {
    background-color: var(--background-color-main);
    color: #838f98;
    border: none;
    border-bottom: solid 2px #838f98;
    padding-bottom: 33px;
    width: 100%;
    transition: color 1.5s, border-color 1.5s;
    background-position: left;
}

.journey-menu .journey-menu-item button:hover {
    cursor: pointer;
    color: var(--color-elements2);
    border-bottom: solid 2px var(--color-elements2);
    background-position: right;
}


.journey-menu .journey-menu-item button.active {
    color: var(--color-elements2);
    border-bottom: solid 2px var(--color-elements2);
    background-color: var(--background-color-main);
    background-position: right;
    
}

/* ----------------------------- Journey Menu end ------------------------- */

.journey .section-content {
    margin-top: 150px;
}

.content {
    display: none;
}

#content1 {
    display: block;
}

.content .container {
    max-width: 1200px;
}

.section-content .content .container .flex-container {
    justify-content: flex-start;
    gap: 126px;
}
.journey-image {
    position: relative;
    max-width: 486px;
}

.journey-image .dots-corner img {
    position: absolute;
    bottom: -55px;
    left: -55px;
    z-index: -1;
}           

.carousel-control-next-icon {
    position: relative;
    top: 250px;
    right: 15px;
    padding: 50px;
    background-color: rgb(0, 0, 0, 0.6);
}

.carousel-control-prev-icon {
    position: relative;
    top: 250px;
    left: 295px;
    padding: 50px;
    background-color: rgb(0, 0, 0, 0.6);
}

.journey-description {
    align-self: center;
    max-width: 485px;
}

.journey-description h2 {
    font-weight: 700;
    font-size: 4.0625rem;
    line-height: 110%;
    letter-spacing: -0.02em;
    max-height: 607px;
    text-align: center;
    margin-top: 67px;
    margin: 0 0 34px 0;
    white-space: nowrap;
}

.journey-description p {
    font-weight: 700;
    font-size: 1.0625rem;
    line-height: 150%;
    letter-spacing: -0.02em;
}

.journey-description p:nth-of-type(2) {
    font-weight: 400;
    margin-bottom: 0;
}

.journey-description .button {
    background-color: var(--color-elements1);
    border-radius: 183px;
    color: var(--color-text);
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    font-size: 0.875rem; 
    line-height: 190%;
    letter-spacing: 0.15em;
    width: 282px; 
    height: 65px; 
    cursor: pointer;
    margin-top: 45px;
}

#stars .social,
#forest .social,
#dunes .social,
#river .social {
    align-self: flex-end;
}

.social.flex-container {
    justify-content: flex-end;
}

.social .flex-container {
    gap: 23px;
    justify-content: flex-end;
    position: relative;
    bottom: 20px;
    right: 16px;
}

#journey .section-content .content .social .cosmetic-border {
    width: 133px;
    height: 31px;
    border-bottom: 2px solid var(--color-elements2);
    border-right: 2px solid var(--color-elements2);
    position: relative;
    top: -33px;
}


.social i {
    font-size: 1.5rem;
    color: var(--color-elements2);
}
/* -------------------------------------------------------------------------- */


.gallery.flex-container {
    flex-wrap: wrap;
    justify-content: flex-end;
}

/* ------------------------------------------------- About us ------------------------------------------*/

.about-us {
    margin: 268px auto 0 auto;
    max-width: 1391px;
}

.about-us.flex-container {
    justify-content: flex-end;
}

.about-us .container.flex-container {
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

.about-us-info {
    max-width: 321px;
}

.about-us-info h2 {
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: -0.02em;
    margin-top: 50px;
    margin-bottom: 40px;
}

.about-us-info h3 {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: -0.02em;
}

.about-us-info p {
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 150%;
    letter-spacing: -0.02em;
    margin-top: 25px;
}

.about-us-info button {
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 190%;
    letter-spacing: 0.15em;
    color: var(--color-text);
    background-color: var(--color-elements1);
    width: 282px;
    height: 65px;
    border-radius: 183px;
    border: none;
    cursor: pointer;
    margin-top: 38px;
}

.gallery {
    margin-left: 80px;
}

/* ----------------------------------------------- About us overlay ------------------------------------------*/

.gallery-item {
    position: relative;
    max-width: 395px;
    width: 100%;
}

.gallery-item img {
    cursor: pointer;
    max-width: 395px;
    width: 100%;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: opacity 1.5s ease;
}

.overlay-content {
    display: block;
    position: absolute;
    padding: 26px 19px;
    bottom: 0;
    left: -44px;
    margin-bottom: 50px;
    background-color: var(--color-text);
    color: black;
    border-radius: 8px;
    opacity: 0;
    transition: opacity 1.0s ease;
}

.overlay-content h3 {
    margin: 0;
    font-size: 0.9375rem;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.05em;
}

.gallery-item.not-clicked .overlay {
    opacity: 1;
    pointer-events: auto;
    cursor: pointer;
}

.gallery-item.not-clicked .overlay-content {
    opacity: 0;
}

.gallery-item.clicked .overlay {
    background-color: rgba(0, 0, 0, 0);
    pointer-events: auto; 
    cursor: pointer;
}

.gallery-item.clicked .overlay-content {
    opacity: 1;
    pointer-events: auto; 
}


.overlay-content span {
    color: var(--color-elements1);
}

.dots-rectangle {
    align-self: center;
}


/* ------------------------------------------------- Testimonials ---------------------------------------------*/

.testimonials .testimonials-header {
    flex-direction: column;
    align-items: center;
}

.testimonials-header {
    text-align: center;
}

.testimonials-header h2 {
    font-weight: 700;
    font-size: 4.5rem;
    line-height: 110%;
    letter-spacing: -0.02em;
    margin-top: 378px;
}

.testimonials-header h2::before {
    content: "";
    display: block;
    width: 80px;
    border-top: solid 2px #09F4F4;
    margin: auto;
    margin-bottom: 90px;
    transform: translateY(-50%) rotate(270deg);
}

.testimonials-header h3 {
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 150%;
    letter-spacing: 0.15em;
}

.testimonials-gallery {
    margin-top: 73px;
}

.testimonials .testimonials-gallery > .flex-container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

.testimonials-item {
    background-color: var(--background-color-alt);
    max-width: 510px;
    max-height: 504px;
    padding: 75px 74px 75px 50px;
}

.testimonials-item i {
    font-size: 32px;
    color: var(--color-elements2);
}

.testimonials-feedback {
    font-size: 1.125rem;
    line-height: 190%;
}

.testimonials-feedback p:first-child {
    font-weight: 700;
    margin: 0;
}

.testimonials-feedback p:nth-child(2) {
    font-weight: 300;
}

.testimonials-feedback .flex-container {
    justify-content: flex-start;
}

.testimonials-feedback .flex-container div {
    align-self: center;
}

.testimonials-feedback .flex-container div p {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 170%;
    letter-spacing: 0.15em;
    margin: 0;
}

.testimonials-feedback .flex-container img {
    max-width: 80px;
    max-height: 80px;
    margin-right: 15px;
    align-self: center;
}

/* ------------------------------------- Form -----------------------------------------------*/

.contact-form {
    margin-top: 150px;
}

.contact-form .section-heading {
    text-align: center;
}

.contact-form .section-heading h2 {
    font-weight: 700;
    font-size: 4.5rem;
    line-height: 110%;
    letter-spacing: -0.02em;
    margin-bottom: 30px;
}

.contact-form .section-heading h3 {
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 150%;
    letter-spacing: 0.15em;
}

.contact-form .section-content {
    margin: 0px auto;
    max-width: 80%;
    margin-top: 75px;
}

.contact-form .section-content .input-row div:first-of-type,
.contact-form .section-content .input-row div:nth-of-type(2) {
    margin-bottom: 30px;
}

.contact-form .section-content form input {
    padding: 20px 25px;
    border-radius: 5px;
    background-color: var(--background-color-alt);
    color: var(--color-text);
    width: calc(50% - 20px);
    font-size: 1.25rem;
}

.contact-form .section-content form input::placeholder {
    color: var(--color-text);
}

.contact-form .section-content .input-row .flex-container {
    justify-content: space-between;
    align-items: flex-start;
}

.contact-form .section-content .input-row .select-button.flex-container {
    width: calc(50% - 18px);
    flex-wrap: wrap;
    margin-bottom: 0px;
}

.contact-form .section-content .input-row input:first-child {
    margin-right: 16px;
}

.contact-form .section-content .input-row input:last-child {
    margin-left: 16px;
}

.contact-form .section-content .input-row textarea {
    background-color: var(--background-color-alt);
    width: calc(50% - 18px);
    color: var(--color-text);
    resize: none;
    border-radius: 5px;
    margin-right: 16px;
    font-size: 1.25rem;

}

.contact-form .section-content .input-row select {
    background-color: var(--background-color-alt);
    width: 100%;
    color: var(--color-text);
    border-radius: 5px;
    padding: 20px 25px;
    font-size: 1.25rem;
}

.contact-form .section-content .input-row button {
    background-color: var(--color-elements1);
    border-radius: 183px;
    color: var(--color-text);
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    font-size: 0.875rem;
    line-height: 190%;
    letter-spacing: 0.15em;
    width: 282px;
    height: 65px;
    cursor: pointer;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}


/* -------------------------------------------------------- Footer -----------------------------------------*/

.footer-header {
    text-align: center;
}

.footer-header h2 {
    margin-top: 150px;
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: -0.02em;
}

.footer-header h3 {
    text-transform: uppercase;
    font-size: 1.5rem;
    line-height: 150%;
    letter-spacing: 0.07em;
    max-width: 388px;
    margin-left: auto;
    margin-right: auto;
}

.footer-header h3::after {
    content: "";
    display: block;
    width: 80px;
    border-top: solid 2px #09F4F4;
    margin: auto;
    position: relative;
    top: 108px;
    transform: translateY(-50%) rotate(270deg);
}

.footer-items.flex-container {
    margin-top: 285px;
    justify-content: space-between;
}

.footer-items li h3 {
    text-transform: uppercase;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 100%;
    margin-top: 0;
}

.footer-items li {
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 100%;
    margin-bottom: 20px;
}

.footer-items.flex-container {
    justify-content: space-around;
}

.divider-line {
    border-bottom: 1.5px solid var(--color-elements2);
    width: 50px;
}

.divider-cube {
    border: 1.5px solid var(--color-elements2);
    width: 5px;
    height: 5px;
    position: relative;
    left: 50px;
    top: 3px;
    transform: rotate(45deg);
}

.about li a,
.duk li a,
.events li a,
.contacts li a {
    text-decoration: none;
    color: var(--color-text);
}

.about li a:hover,
.duk li a:hover,
.events li a:hover,
.contacts li a:hover {
    color: var(--color-elements1);
}

.social-footer .flex-container {
    justify-content: center;
}

.social-footer ul li ul li:first-child {
    margin-right: 18px;
}

.social-footer ul li ul li:last-child {
    margin-left: 18px;
}

.social-footer a {
    font-size: 24px;
}

.footer-copyright{
    text-align: center;
}

.footer-copyright p {
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 25px;
    margin-top: 69px;
}

.footer-copyright img {
    margin-top: 26px;
}


/* ------------------------------ MEDIA ----------------------------------- */

@media all and (max-width:1268px) {
    .container,
    .about-us {
        padding: 0 25px;
    }

    .gallery.flex-container {
        align-content: flex-start;
    }

    .gallery {
        margin-left: 0;
    }

    .gallery-item {
        max-width: none;
        width: 50%;
    }

    .gallery-item img {
        max-width: none;
        width: 100%;
    }

    .about-us .dots-rectangle img {
        display: none;
    }
}

@media all and (max-width:1200px) {
    /* Journey */
    .journey .dots-corner {
        display: none;
    }

    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        display: none;
    }

    .testimonials-item {
        max-width: none;
        max-height: none;
        width: calc(50% - 17px)
    }
}

@media all and (max-width:1080px) {
    .testimonials-item {
        padding: 30px;
    }
}


@media all and (max-width:980px) {

    .main-nav > * {
        display:none;
    }

    .main-nav-button {
        display: none;
    }

    .mobile-nav {
        display: block;
    }

    .hero .container h1 {
        margin-top: 60px;
    }

    .journey-image {
        max-width: none;
        width: 60%;
    }

    .journey-description {
        max-width: none;
        margin-top: 30px;
    }

    .journey-description h2 {
        white-space: normal;
    }

    .journey-menu.flex-container,
    .journey .section-content {
        margin-top: 30px;
    }

    .section-content .content .container .flex-container {
        gap: 0;
    }

    .journey .section-content .flex-container {
        flex-direction: column;
        align-items: center;
    }

    .journey .section-content .social.flex-container {
        flex-direction: row;
    }

    .journey .section-content .social.flex-container .flex-container {
        flex-direction: row;
    }

    .journey-image {
        align-items: center;
    }

    #journey .section-content .content .social .cosmetic-border {
        top: -33px;
        left: 0px;
    }

    .about-us.flex-container,
    .testimonials-header h2,
    .contact-form,
    .footer-header h2,
    .footer-items.flex-container {
        margin-top: 100px;
    }

    .testimonials-item {
        padding: 10px;
        width: calc(50% - 17px)
    }

    .footer-header h3::after {
        top: 50px;
    }

}

@media all and (max-width:880px) {
    .testimonials-item {
        width: 100%;
    }
}

@media all and (max-width:800px) {
    .gallery.flex-container {
        margin: 0;
    }

    .overlay-content {
        padding: 15px 10px;
        margin: 0;
        left: 0;
        border-radius: 0;
        width: 100%;
    }

    .contact-form .section-content form input {
        padding: 20px 25px;
        width: calc(100%);
        margin-bottom: 30px;
    }

    .contact-form .section-content .input-row div:first-of-type,
    .contact-form .section-content .input-row div:nth-of-type(2) {
        margin-bottom: 0;
}

    .contact-form .section-content .input-row input:first-child {
        margin-right: 0;
    }
    
    .contact-form .section-content .input-row input:last-child {
        margin-left: 0;
    }

    footer .footer-items.flex-container {
        flex-wrap: wrap;
    }
    

    .footer-items > div {
        width: calc(33%);
    }

    .about-us .container.flex-container {
        flex-direction: column; 
        width: 100%;
        max-width: none;
    }

    .about-us-info {
        width: 100%;
        max-width: none;
    }

    .gallery.flex-container {
        margin-top: 30px;
    }

    .gallery-item {
        width: 25%;
    }

    .contacts li:first-child {
        margin-top: 30px;
    }

    .social-footer ul.ul1 li:first-child > h3 {
        margin-top: 30px;
    }

}

@media all and (max-width:715px) {
    .contact-form .section-content .flex-container {
        flex-direction: column;
    }

    .contact-form .section-content .input-row textarea {
        width: calc(100%);
        margin-bottom: 30px;
    }

    .contact-form .section-content .input-row .select-button.flex-container {
        width: calc(100%);
    }
}

@media all and (max-width:610px) {
    .journey-menu.flex-container {
        flex-wrap: wrap;
    }

    .journey-menu-item {
        width: 50%;
    }
}


@media all and (max-width:545px) {
    .overlay-content {
        padding: 5px 10px;
    }

    .overlay-content h3 {
        margin: 0 auto;
    }

    .journey-image {
        width: 100%;
    }

}

@media all and (max-width:465px) {
    .about-us .container.flex-container {
        flex-direction: column; 
        width: 100%;
        max-width: none;
    }

    .about-us-info {
        width: 100%;
        max-width: none;
    }

    .gallery.flex-container {
        margin-top: 30px;
    }

    .gallery-item {
        width: 50%;
    }
}

@media all and (max-width:450px) {
    .hero .container h1 {
        font-size: 5rem;
    } 

    .journey .section-heading h2,
    .journey-description h2,
    .testimonials-header h2,
    .contact-form .section-heading h2,
    .footer-header h2 {
        font-size: 3rem;
    }

    .journey-description .button,
    .about-us-info button,
    .contact-form .section-content .input-row button {
        width: 100%;
    }

    #journey .section-content .content .social .cosmetic-border {
        top: 30px;
        right: 0;
    }

    .journey-description {
        max-width: none;
        width: 100%;
    }
}


@media all and (max-width:420px) {
    .footer-items > div {
        width: calc(50%);
    }

    .contact-form .section-content .input-row select {
        font-size: 1rem;
    }

    .testimonials-item {
        padding: 0;
    }

    .footer-items .contacts > ul li:first-of-type {
        margin-top: 0px;
    }
}

@media all and (max-width:335px) {
    .journey-menu-item {
        width: 100%;
    }

    .footer-items > div {
        width: calc(100%);
    }

    .contact-form .section-heading h3 {
        font-size: 1rem;
    }

    .contact-form .section-content .input-row select {
        font-size: 0.8rem;
    }

    .hero .container h1 {
        font-size: 3.5rem;
    } 

    .journey .section-heading h2,
    .journey-description h2,
    .testimonials-header h2,
    .contact-form .section-heading h2,
    .footer-header h2 {
        font-size: 2rem;
    }

    .testimonials-header h3 {
        font-size: 1rem;
    }

    .social-footer ul.ul1 li:first-child > h3 {
        margin-top: 0px;
    }

}

