*,
*::before,
*::after {
    box-sizing:border-box;
}

html {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
}

body {
    margin: 0;
    background-color: #011627;
    color: white;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none ;
}

.container {
    max-width: 1200px;  /* 1250 jeigu su padding? */
    width: 100%;
    margin: 0 auto;
    /* padding: 0 25px; */  /* Atitraukimui nuo naršyklės kraštų*/
    border: solid 1px magenta;
}

.flex-container {
    display: flex;
    border: solid 1px red;
}

.flex-container > * {
    border: solid 1px yellow;
}


/* ------------------------- HEADER ----------------------------- */

.background {
    background-position: center;
    background-image: linear-gradient(to bottom, rgba(1, 22, 39, 0) 0%, rgba(1, 22, 39, 0) 76%, rgba(1, 22, 39, 0) 76%, #011627 100%),
    url(../images/background/backgroud-hero2.jpg);
    background-repeat: no-repeat;
    background-size: cover;             /* Išjungus nuotrauką atvaizduojama maksimalaus aukščio */
    /* background-attachment: fixed;       Išjungus nuotrauką atvaizduojama maksimalaus aukščio   */
}

.background .container {
    max-width: 1400px;
    margin: 0 auto;
}

.site-header .flex-container {
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-width: 60px;
    max-height: 68px;
}

#Menu {
    display: none;
}

.main-nav a,
.mobile-nav a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    margin: 0 5px;
    padding: 20px 17px;
    white-space: nowrap;
}

.main-nav a:hover,
.main-nav a:active,
.mobile-nav a:hover,
.mobile-nav a:active {
    color: #00C9E0;
}

#mMenu {
    position: absolute;
    top: 65px;
    right: 0;
    width: 100%;
}

.mobile-nav,
.mobile-nav ul {
    display: none;
}

.mobile-nav ul {
    background-color: #011627;
}

.mobile-nav ul li {
    margin: 0;
    padding: 15px;
    
}

.mobile-nav ul li a {
    margin: 0;
    padding: 15px;
    padding-right: 85%;
}

.mobile-nav a i {
    font-size: 2rem;
}

.site-header .button {
    background-color: #00C9E0;
    color: white;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    border-radius: 48px;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 0.1em;
    line-height: 100%;
    margin-left: 15px;
    width: 167px;
    height: 62px;
}

/* ----------------------- HERO ---------------------- */

.hero {
    text-align: center;
}

.hero .container {
    max-width: 1200px;
    margin-top: 156px;
}

.hero .container h1 {
    font-size: 7.5rem;
    font-weight: 700;
    letter-spacing: -0.02em;
    line-height: 100%;
    margin-bottom: 20px;
    margin-top: 0;
}

.hero .container h2 {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.1em;
    line-height: 100%;
    margin-bottom: 50px;
    text-transform: uppercase;
}

.hero .container p {
    font-size: 1.0625rem;
    max-width: 650px;
    line-height: 150%;
    margin: 0 auto;
    border: solid 1px black;
}

.hero-social {
    margin-top: 200px;
    padding-bottom: 232px;
}

.hero-social .flex-container {
    justify-content: space-between;
}

.scroll-line {
    align-self: center;
}

.scroll {
    transform: translateY(-50%) rotate(270deg);
    cursor: pointer;
    margin-top: 30px;
}

.line {
    margin-left: 28px;
    margin-top: 20px;
    width: 2px;
    height: 80px;
    cursor: pointer;
    border: 1px solid #09F4F4;
}

.hero-social li {
    padding-top: 15px;
    padding-bottom: 15px;
}

.hero-social .social i {
    font-size: 1.5rem;
    color: #41EAD4;
}

/* ------------------------------- JOURNEY -------------------------------*/

/* ----------------------------- Journey Menu start ---------------------- */

.journey {
    max-width: 1355px;
    margin: 0 auto;
    border: 1px solid green;
}

.journey .section-heading .container {
    max-width: 1200px;
    margin: 0 auto;
}

.journey .section-heading h2 {
    text-align: center;
    border: solid 1px magenta;
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: -0.02em;
    margin: 0;
}

.journey-menu.flex-container {
    margin-top: 83px;
    display: flex;
}

.journey-menu.flex-container > * {   /* -------------------Ištrinti-----------*/
    border: none;
}

.journey-menu-item {
    flex: 1;
    width: 25%;
}

.journey-menu .journey-menu-item button {
    background-color: #011627;
    color: #838f98;
    border: none;
    border-bottom: solid 2px #838f98;
    padding-bottom: 33px;
    width: 100%;
    transition: color 1.5s, border-color 1.5s;
    background-position: left;
}

.journey-menu .journey-menu-item button:hover {
    cursor: pointer;
    color: #41EAD4;
    border-bottom: solid 2px #41EAD4;
    background-position: right;
}


.journey-menu .journey-menu-item button.active {
    color: #41EAD4;
    border-bottom: solid 2px #41EAD4;
    background-color: #011627;
    background-position: right;
    
}

/* ----------------------------- Journey Menu end ------------------------- */

.journey .section-content {
    margin-top: 150px;
}

.content {
    display: none;
}

#content1 {
    display: block;
}

.content .container {
    max-width: 1200px;
}

.section-content .content .container .flex-container {
    justify-content: flex-start;
    gap: 126px;
}

.journey-image {
    position: relative;
}

.journey-image img:first-child {
    position: absolute;
    bottom: -55px;
    right: 315px;
}

.journey-image img:last-child {
    position: relative;
    max-width: 486px;
}

.journey-description {
    align-self: center;
    max-width: 485px;
    /* margin-left: 125px; */
    /* margin-right: 105px; */
}

.journey-description h2 {
    /* margin-top: 217px; */
    /* margin-left: 124px; */
    font-size: 4.0625rem;
    line-height: 110%;
    letter-spacing: -0.02em;
    max-height: 607px;
    text-align: center;
    margin-top: 67px;
}

.journey-description p {
    font-weight: 700;
    font-size: 1.0625rem;
    line-height: 150%;
    letter-spacing: -0.02em;
}

.journey-description p:nth-of-type(2) {
    font-weight: 400;
    margin-bottom: 0;
}

.journey-description .button {
    background-color: #00C9E0;
    /* padding: 31px 91px; */
    border-radius: 183px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    font-size: 0.875rem; 
    line-height: 190%;
    letter-spacing: 0.15em;
    width: 282px; /* ---------------------------------------- Problemos */
    height: 65px; /* ---------------------------------------- Problemos */
    cursor: pointer;
    margin-top: 45px;
}

#stars .social,
#forest .social,
#dunes .social,
#river .social {
    align-self: flex-end;
    /* padding: 0 30px 0px; */
}

.social .flex-container {
    gap: 23px;
    justify-content: flex-end;
    position: relative;
    top: -30px;
}

.social i {
    font-size: 1.5rem;
    color: #41EAD4;
}
/* -------------------------------------------------------------------------- */


.gallery.flex-container {
    flex-wrap: wrap;
}

/* ------------------------------------------------- About us ------------------------------------------*/

.about-us {
    margin-top: 268px;
}

.about-us .container.flex-container {
    justify-content: flex-end;
}

.about-us-info {
    max-width: 321px;
}

.about-us-info h2 {
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: -0.02em;
    margin-top: 50px;
    margin-bottom: 40px;
}

.about-us-info h3 {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: -0.02em;
}

.about-us-info p {
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 150%;
    letter-spacing: -0.02em;
    margin-top: 25px;
}

.about-us-info button {
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 190%;
    letter-spacing: 0.15em;
    color: white;
    background-color: #00C9E0;
    width: 282px;
    height: 65px;
    border-radius: 183px;
    border: none;
    cursor: pointer;
    margin-top: 38px;
}

.gallery {
    margin-left: 80px; /* Tarpas tarp teksto ir nuotraukų */
}

/* ----------------------------------------------- About us overlay ------------------------------------------*/

.gallery-item {
    position: relative;
}

.gallery-item img {
    cursor: pointer;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none; /* Disable pointer events to allow click events to pass through */
    transition: opacity 1.5s ease;
}

.overlay-content {
    display: block;
    position: absolute;
    padding: 10px 25px;
    bottom: 0;
    left: -44px;
    margin-bottom: 50px;
    background-color: white;
    color: black;
    font-size: 0.9375;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.05em;
    border-radius: 8px;
    opacity: 0;
    transition: opacity 1.0s ease; /* Add transition property for the overlay content */
}

.gallery-item.not-clicked .overlay {
    opacity: 1;
    pointer-events: auto; /* Enable pointer events to allow click events */
    cursor: pointer;
}

.gallery-item.not-clicked .overlay-content {
    /* visibility: hidden; */
    opacity: 0;
}

.gallery-item.clicked .overlay {
    background-color: rgba(0, 0, 0, 0);
    pointer-events: auto; /* Enable pointer events to allow click events */
    cursor: pointer;
}

.gallery-item.clicked .overlay-content {
    opacity: 1;
    pointer-events: auto; /* Enable pointer events to allow click events */
    /* visibility: hidden; */ 
}


.overlay-content span {
    color: #00C9E0;
}


/* ------------------------------------------------- Testimonials ---------------------------------------------*/

.testimonials .testimonials-header {
    flex-direction: column;
    align-items: center;
}

.testimonials-header {
    text-align: center;
}

.testimonials-header h2 {
    font-weight: 700;
    font-size: 4.5rem;
    line-height: 110%;
    letter-spacing: -0.02em;
    margin-top: 378px;
}

.testimonials-header h2::before {
    content: "";
    display: block;
    width: 80px;
    border-top: solid 2px #09F4F4;
    margin: auto;
    margin-bottom: 90px;
    transform: translateY(-50%) rotate(270deg);
}

.testimonials-header h3 {
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 150%;
    letter-spacing: 0.15em;
}

.testimonials-gallery {
    margin-top: 73px;
}

.testimonials .testimonials-gallery > .flex-container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

.testimonials-item {
    background-color: #02223B;
    max-width: 510px;
    max-height: 504px;
    padding: 75px 74px 75px 50px;
}

.testimonials-item i {
    font-size: 32px;
}

.testimonials-feedback {
    font-size: 1.125rem;
    line-height: 190%;
}

.testimonials-feedback p:first-child {
    font-weight: 700;
    margin: 0;
}

.testimonials-feedback p:nth-child(2) {
    font-weight: 300;
}

.testimonials-feedback .flex-container {
    justify-content: flex-start;
}

.testimonials-feedback .flex-container div {
    align-self: center;
}

.testimonials-feedback .flex-container div p {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 170%;
    letter-spacing: 0.15em;
    margin: 0;
}

.testimonials-feedback .flex-container img {
    max-width: 80px;
    max-height: 80px;
    margin-right: 15px;
    align-self: center;
}

/* Form */

.contact-form {
    margin-top: 150px;
}

.contact-form .section-heading {
    text-align: center;
}

.contact-form .section-heading h2 {
    font-weight: 700;
    font-size: 4.5rem;
    line-height: 110%;
    letter-spacing: -0.02em;
    margin: 0;
}

.contact-form .section-heading h3 {
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 150%;
    letter-spacing: 0.15em;
}

.contact-form .section-content {
    margin: 0px auto;
    /* text-align: center; */
    max-width: 80%;
    margin-top: 75px;
}

.contact-form .section-content .input-row div:first-of-type,
.contact-form .section-content .input-row div:nth-of-type(2) {
    margin-bottom: 30px;
}

.contact-form .section-content form input {
    padding: 20px 25px;
    border-radius: 5px;
    background-color: #02223B;
    color: white;
    width: calc(50% - 18px);
    font-size: 1.25rem;
}

.contact-form .section-content form input::placeholder {
    color: white;
}

.contact-form .section-content .input-row .flex-container {
    justify-content: space-between;
    align-items: flex-start;
}

.contact-form .section-content .input-row .select-button.flex-container {
    width: calc(50% - 18px);
    flex-wrap: wrap;
    margin-bottom: 0px;
}

.contact-form .section-content .input-row input:first-child {
    margin-right: 16px;
}

.contact-form .section-content .input-row input:last-child {
    margin-left: 16px;
}

.contact-form .section-content .input-row textarea {
    background-color: #02223B;
    width: calc(50% - 18px);
    color: white;
    resize: none;
    border-radius: 5px;
    margin-right: 16px;
    font-size: 1.25rem;

}

.contact-form .section-content .input-row select {
    background-color: #02223B;
    width: 100%;
    color: white;
    border-radius: 5px;
    padding: 20px 25px;
    font-size: 1.25rem;
}

.contact-form .section-content .input-row button {
    background-color: #00C9E0;
    /* padding: 31px 91px; */
    border-radius: 183px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    font-size: 0.875rem;
    line-height: 190%;
    letter-spacing: 0.15em;
    width: 282px;
    height: 65px;
    cursor: pointer;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}


/* -------------------------------------------------------- Footer -----------------------------------------*/

.footer-header {
    text-align: center;
}

.footer-header h2 {
    margin-top: 150px;
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: -0.02em;
}

.footer-header h3 {
    text-transform: uppercase;
    font-size: 1.5rem;
    line-height: 150%;
    letter-spacing: 0.07em;
    max-width: 388px;
    margin-left: auto;
    margin-right: auto;
}

.footer-header h3::after {
    content: "";
    display: block;
    width: 80px;
    border-top: solid 2px #09F4F4;
    margin: auto;
    position: relative;
    top: 108px;
    transform: translateY(-50%) rotate(270deg);
}

.footer-items.flex-container {
    margin-top: 285px;
    justify-content: space-between;
}

.footer-items li h3 {
    text-transform: uppercase;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 100%;
    margin-top: 0;
}

.footer-items li {
    font-size: 0.9375;
    font-weight: 400;
    line-height: 100%;
    margin-bottom: 20px;
}

.footer-items.flex-container {
    justify-content: space-around;
}

.divider-line {
    border-bottom: 1.5px solid #41EAD4;
    width: 50px;
}

.divider-cube {
    border: 1.5px solid #41EAD4;
    width: 5px;
    height: 5px;
    position: relative;
    left: 50px;
    top: 3px;
    transform: rotate(45deg);
}

.social-footer .flex-container {
    justify-content: center;
}

.social-footer ul li ul li:first-child {
    margin-right: 18px;
}

.social-footer ul li ul li:last-child {
    margin-left: 18px;
}

.social-footer a {
    font-size: 24px;
}

.footer-copyright{
    text-align: center;
}

.footer-copyright p {
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 25px;
    margin-top: 69px;
}

.footer-copyright img {
    margin-top: 26px;
}


/* ------------------------------ MEDIA ----------------------------------- */

@media all and (max-width:980px) {

    .main-nav > * {
        display:none;
    }

    .main-nav-button {
        display: none;
    }

    .mobile-nav {
        display: block;
    }

    .hero .container h1 {
        margin-top: 50px;
    }

}